<%- include("partials/header") %>

<div class="ui main text container">
    <h1>Edit <%= tutorial.title %></h1>

    <form class="ui form segment" action="/tutorials/<%= tutorial._id %>?_method=PUT" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name="tutorial[title]" value="<%= tutorial.title %>">
        </div>
        <div class="field">
            <label>Video ID</label>
            <input type="text" name="tutorial[videoID]" value="<%= tutorial.videoID %>">
        </div>
        <div class="field">
            <label>Colors/Materials</label>
            <textarea name="tutorial[colors]" cols="30" rows="5"><%= tutorial.colors %></textarea>
        </div>
        <button class="ui blue basic button" type="submit">Submit</button>
    </form>
</div>

<%- include("partials/footer") %>