<%- include("partials/header") %>

<div class="ui main text container">
    <h1><%= tutorial.title %></h1>
    <div class="ui segment">
        <img class="ui image big centered rounded" src="<%= tutorial.image %>" alt="">
        <p><%= tutorial.colors %></p>
        <a class="ui blue basic button" href="<%= tutorial.video %>"><i class="play icon"></i> Watch Video</a>
        <a class="ui green basic button" href="/tutorials/<%= tutorial._id %>/edit">Edit</a>
        <form id="delete" action="/tutorials/<%= tutorial._id %>?_method=DELETE" method="POST">
            <button class="ui red basic button">Delete</button>
        </form>
    </div>
</div>

<%- include("partials/footer") %>